/* body {
    background-color: rgb(180, 190, 248);
    color: #FFFFFF
} */

/*

https://mui.com/material-ui/react-use-media-query/*/

/*mobile devices */
@media (max-width: 768px){
.styled-fab{
    position: relative;

}
.search-container{
    position: relative;
    left: 0;
}
.footer{
    display: none;
}
}